@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-mono");

body {
  height: 100vh;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: rgb(0, 2, 18);
  -webkit-font-smoothing: antialiased;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-align: -webkit-center;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

::selection {
  background-color: #60ffc6;
  color: white;
}

header {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  visibility: hidden;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  width: 75%;
  height: 100%;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  width: 103%;
  height: 123%;
  display: flex;
  align-items: center;
  background: #13213d;
  margin-top: 5%;
  z-index: 3;
  font-family: "SF Mono", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

.menu ul {
  width: 100%;
  text-align: center;
  padding: 0px;
}

.menu ul li {
  list-style: none;
  margin-top: 50px;
}

.menu li a {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s;
}

.menu li a:hover {
  color: #fff;
}

.menu-hamburguer {
  max-width: 25px;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 100;
}

.span-hamburguer {
  display: block;
  margin-top: -5px;
  width: 100%;
  object-position: center;
  height: 3px;
  background-color: white;
  position: relative;
}

.menu-hamburguer.active .span-hamburguer {
  width: 0;
}

.span-hamburguer:before {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -1px;
  transition: 0.3s;
}

.span-hamburguer:after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 10px;
  transition: 0.3s;
}

.menu-hamburguer.active .span-hamburguer::before {
  bottom: -3px;
  transform: rotate(45deg);
}

.menu-hamburguer.active .span-hamburguer::after {
  top: 3px;
  transform: rotate(-45deg);
}

.nav {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  height: 4rem;
  color: white;
  gap: clamp(4rem, 14vw, 12rem);
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgb(0 0 0 / 50%);
  backdrop-filter: saturate(180%) blur(20px);
  font-family: "SF Mono", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  &-num {
    color: #60ffc6;
    margin-right: 1.5rem;
  }
  &-text {
    font-weight: 600;
  }
}

.wrapper {
  height: 100%;
}

.background {
  position: absolute;
  background-image: url(http://127.0.0.1:5500/img/bgmain.png);
  background-position: center;
  background-size: cover;
  height: 60%;
  width: 500px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 25%);
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.maintitle {
  font-size: clamp(32px, 10vw, 96px);
  letter-spacing: 0.45em;
  font-weight: 700;
  margin-left: 0.45em;
}

.maintext {
  color: white;
  font-weight: 700;
  margin-bottom: 5rem;
}

.mainsub {
  position: relative;
  font-size: clamp(10px, 2vw, 20px);
  letter-spacing: 0.25em;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 300;
  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    color: #ffffff;
    border-right: 2px solid #60ffc6;
    overflow: hidden;
    animation: animate 15s linear infinite;
  }
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 72%;
  }
  25%,
  90% {
    border-right: 2px none;
  }
  91%,
  100% {
    border-right: 2px solid #60ffc6;
  }
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
  align-content: center;
  justify-content: center;
  margin-bottom: 25px;
}

.card {
  background: linear-gradient(
    90deg,
    rgba(47, 47, 47, 0.75) 0%,
    rgba(47, 47, 47, 0.675) 100%,
    rgba(47, 47, 47, 0.675) 100%
  );
  height: 260px;
  width: 300px;
  position: relative;
  border-radius: 10px;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  z-index: 2;
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, #60ffc6, #0054ff, #60ffc6);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.title {
  font-size: clamp(32px, 6vw, 64px);
  width: clamp(24px, 60vw, 450px);
  align-content: center;
  color: white;
  margin-bottom: 4rem;
  font-weight: 700;
}

.section {
  position: relative;
  &-1 {
    height: 100%;
    background: #13213d;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:not(:first-child) {
    margin-bottom: 8rem;
  }
}

.section-1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(0deg, #13213d, transparent);
  background: linear-gradient(0deg, #000212, transparent);
  z-index: -1;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 500px;
  background: linear-gradient(0deg, #00bbff, #00bbff);
  -webkit-mask-image: radial-gradient(100% 50%, black, transparent);
  z-index: -2;
}

.separator {
  height: 30px;
  background: white;
  width: 10%;
  border-radius: 15px;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.about {
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(47, 47, 47, 0.75) 0%,
    rgba(47, 47, 47, 0.675) 100%,
    rgba(47, 47, 47, 0.675) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 916px;
  width: calc(80% - 20px);
  padding: 2.5rem 1rem;
  transition: 1s;
  &:hover {
    background-color: #656565;
  }
}

.text {
  font-size: clamp(16px, 3vw, 18px);
  width: 95%;
  text-align: left;
  color: white;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 916px;
  gap: 0.9rem;
  width: 95%;
  &-colapse {
    width: 100%;
  }
}

.bubble {
  background: #505050;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  display: flex;
  border-radius: 50px;
  padding: 5px 32px;
  color: white;
  font-weight: 600;
  margin-bottom: 0.8rem;
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 10px 10px rgb(0 0 0);
  }
}

.short {
  display: inline-flex;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(47, 47, 47, 0.75) 0%,
    rgba(47, 47, 47, 0.675) 100%,
    rgba(47, 47, 47, 0.675) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 916px;
  width: calc(80% - 20px);
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  height: 50px;
  font-weight: 600;
  transition: 1s;
  &:hover {
    background-color: #656565;
  }
}

.short:hover {
  cursor: pointer;
}

.colapse {
  font-size: clamp(12px, 3vw, 20px);
  width: 100%;
  text-align: left;
  color: white;
  transition: 1s;
  &-about {
    display: none;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(
      90deg,
      rgba(47, 47, 47, 0.75) 0%,
      rgba(47, 47, 47, 0.675) 100%,
      rgba(47, 47, 47, 0.675) 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 916px;
    width: calc(80% - 20px);
    padding: 1.5rem 1.5rem;
    margin-bottom: 1rem;
    transition: 1s;
    &:hover {
      background-color: #656565;
    }
  }
  &-title {
    color: white;
    font-weight: 200;
    margin-top: 0.8rem;
  }
  &-text {
    margin: 1.5rem 0;
  }
  &-expand {
    text-align: right;
    width: 20%;
    font-size: 32px;
    font-weight: 200;
  }
}

.date {
  text-align: right;
  margin-right: 0rem;
  width: 10rem;
}

.work {
  margin-bottom: 15px;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(47, 47, 47, 0.75) 0%,
    rgba(47, 47, 47, 0.675) 100%,
    rgba(47, 47, 47, 0.675) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: relative;
  max-width: 916px;
  width: calc(80% - 20px);
  padding: 2rem;
  transition: 1s;
  &:hover {
    background-color: #656565;
  }
}

.tittlework {
  text-align: left;
  color: white;
  font-size: 48px;
  font-weight: 700;
}

.subtittlework {
  text-align: left;
  color: white;
  font-weight: 200;
  font-size: 24px;
}

.textwork {
  margin-top: 50px;
  position: absolute;
  padding: 15px;
  width: clamp(350px, 50vw, 600px);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(47, 47, 47, 0.75) 0%,
    rgba(47, 47, 47, 0.675) 100%,
    rgba(47, 47, 47, 0.675) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-size: clamp(12px, 2vw, 22px);
}

.image {
  float: right;
  width: 55%;
  height: auto;
  border-radius: 15px;
  margin: 10px;
}

img {
  border-radius: 15px;
  width: 100%;
}

.social {
  color: white;
  font-size: 36px;
  font-weight: 700;
  padding: 20px;
  margin-top: 25px;
}

.email {
  font-size: 18px;
  color: white;
  margin-top: 25px;
}
.logos {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: white;
}

.section:last-child {
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .bubble {
    flex: 1 0 80px;
    justify-content: center;
    margin-bottom: 0.1rem;
  }
  .background {
    width: 350px;
  }
  .skills {
    justify-content: center;
    align-items: center;
  }
  .textwork {
    padding: 15px 0;
    margin-top: 0;
    width: 100%;
    position: relative;
    background: none;
    text-align: left;
    box-shadow: none;
    font-size: 1rem;
  }
  .image {
    float: none;
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .mainsub {
    color: white;
    &::before {
      content: none;
    }
  }
  .nav {
    visibility: hidden;
  }
  header {
    visibility: visible;
  }
}

@keyframes animopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
